/*
theme name: homa
Theme URI: https://wordpress.org/themes/homa/
Author: hooraweb
Description: test
Version: 1.0
Tags: blog
*/
body{
  font-size:14px;
}
.site-header {
  border-bottom: 1px solid black;
}
.site-footer{
  border-top: 1px solid black;
  margin-top:20px;
}
a:linked,
a:visited{color:green;}
div.container{
  max-width:920px;
  margin:0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
article.post{
  border-bottom: 1px dotted black;
}
article.post:last-of-type{padding-bottom:20px;}

/* Navigation Menus */
.site-nav ul {
  margin:0;
  padding:0;
}
